@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Montserrat";
}

:root{
    --background:#101114;
    --primary:#1c1d20;
    --secondary:#4a4d57;
    --accent:#00ffc4;
    --text-color:#f9f9f9;
}
html{
    font-size: 12pt;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background);
}
h1{
    color:var(--accent);
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;

}
.wrapper{
    display:flex;
    flex-direction: column;
    gap:30px;
    margin-top:10px;
    width:700px;
    max-width: 100%;
    align-items: center;
    color:var(--text-color);
    
}

#todo-input{
    box-sizing: border-box;
    width:100%;
    background: none;
    border:2px solid var(--secondary);
    padding:12px 20px;
    border-radius: 1000px;
    outline:none;
    color:var(--text-color);
    caret-color: var(--accent);
    font:inherit;
}

form{
    position:relative;
    width:100%;

}




#add-button{
    position: absolute;
    top:0;
    right:0;
    height:100%;
    font-weight: 600;
    padding:0 30;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #00ffc4;
    cursor: pointer;
}

ul{
    width:100%;
}
.todo{
    margin-bottom:20px;
    background-color: var(--primary);
    padding:0 16px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    
}

.todo .todo-text{
    padding:15px;
    flex-grow: 1;
    padding-right: 0;
    cursor: pointer;
    
}




.delete-button{
    background: none;
    color:var(--text-color);
    border:none;
    cursor: pointer;
    
}

.delete-button:hover{
    color:red;
}

.custom-checkbox{
    border:1px solid var(--accent);
    min-width:20px;
    min-height:20px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.custom-checkbox svg{
    cursor: pointer;
}

.completed .custom-checkbox{
    background-color: var(--accent);
    
}

.completed .custom-checkbox svg{
    fill:var(--primary);
    cursor: pointer;
}

input[type="checkbox"]{
    display: none;
}

 .completed .todo-text{
    text-decoration:line-through ;
    color: var(--secondary);
    transition: 0.1s ease;
}